<html>
   <head>
       
       <title>
           blog
       </title>
       <link rel="stylesheet" href="/blog.css">
       <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   </head>
   
   
   <body>
       
       
       
       
       
