<%- include('partials/header') %>


<form action="/blog" method="post">
<lable for="title">title</lable>
<input id ="title" type="text" name="title">
<lable for="imaage">image</lable>
<input id ="imaage" type="text" name="image">
<lable for="body">body</lable>
<textarea id ="body" name="body"></textarea>
 <button>submit</button>
</form>


<%- include('partials/footer') %>